.home-page {
   box-sizing: border-box;
   display: grid;
   grid-template-columns: 40px 1fr;
   grid-template-rows: 40px 1fr;
   height: 100%;
   width: 100%;
   background-color: rgb(28, 28, 28);

}

.horizontal-tool-bar {
   grid-column: 1/3;
   grid-row: 1/2;
   background-color: rgb(28, 28, 28);
   display: flex;
   align-items: center;
   padding: 0 10px;
}

.chat-app-icon {
   box-sizing: border-box;
   width: 25px;
   height: 25px;
   margin: 0px;
}

.horizontal-tool-bar>div {
   display: inline-block;
   box-sizing: border-box;
   font-size: small;
   font-weight: 300;
   padding-left: 7px;
}

.vertical-tool-bar {
   grid-column: 1/2;
   grid-row: 2/3;
   background-color: rgb(255, 255, 255);
   background-color: rgb(28, 28, 28);
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 40px 40px 40px;
   row-gap: 8px;
}

.visit-profile-icon {
   grid-row: 2/3;
   width: 25px;
   height: 25px;
   margin-left: 4px;
   padding: 4px;
   border-radius: 50%;
}

.settings-icon {
   grid-row: 3/4;
   width: 20px;
   height: 20px;
   margin-left: 6px;
   padding: 4px;
   padding-bottom: 10px;
   border-radius: 8px;
   background-color: rgb(227, 227, 227);
   filter: invert(1);
}

.logout-button {
   grid-row: 4/5;
   width: 28px;
   height: 28px;
   margin-left: 6px;
   padding: 0px;
   padding-bottom: 10px;
   border-radius: 8px;
   cursor: pointer;
   border: none;
   background-color: transparent;

   background-image: url("/public/logout-icon.svg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

}

.logout-button:hover {
   background-color: rgb(51, 51, 51);
}

.logout-button:active {
   background-color: rgb(139, 139, 139);
}

/* .logout-icon {
   width: 120%;
   height: 200%;
   object-fit: fill;
   background-color: rgb(51, 51, 51);
   filter: invert(1);
} */

.chat-page {
   grid-column: 2/3;
   grid-row: 2/3;
   /* display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr;
   /* border-width: 2px;
   border-style: solid;
   border-color: rgb(254, 254, 254); */

   border-radius: 12px;
   background-color: rgb(41, 41, 41);
   display: flex;
   flex-direction: row;
   padding: 0px;
   height: 100%;
   width: 100%;
   min-height: 0;

}

.left-side {
   flex: 0 0 30%;
   width: 100%;
   height: auto;
   background-color: rgb(41, 41, 41);
   padding-top: 0px;
   padding-bottom: 16px;

   min-height: 0;
   border-radius: 12px;
}

.left-side {
   overflow-y: auto;
   height: auto;
}

.left-side::-webkit-scrollbar {
   width: 3px;
   background-color: rgb(41, 41, 41);
   border-radius: 10px;
}

.left-side:hover::-webkit-scrollbar {

   background-color: rgb(41, 41, 41);
}

.left-side::-webkit-scrollbar-thumb {
   width: 3px;
   background-color: rgb(176, 176, 176);
   border-radius: 1px;
}

.contacts-header {
   box-sizing: border-box;
   height: 90px;
   width: 100%;
   background-color: royalblue;
   position: sticky;
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgb(41, 41, 41);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 8px;
}

.contacts-header>h2 {
   margin: 0px;
   padding-top: 8px;
   padding-left: 8px;
   font-size: x-large;
   font-weight: 500;
}

.new-chat-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transform: translateX(-10px);
   box-sizing: border-box;
   height: 50px;
   width: 50px;
   margin: 0px;
   padding-right: 10px;
   background-color: rgb(41, 41, 41);
   border: none;

}

.add-contact-icon {
   width: 30px;
   height: 30px;
   margin: 0px;
   padding: 10px;
   border-radius: 8px;
   background-color: rgb(214, 214, 214);
   filter: invert(1);
}

.add-contact-icon:hover {
   background-color: rgb(194, 194, 194);
}

.add-contact-icon:active {
   background-color: rgb(161, 161, 161);
}

.add-contact-menu {
   position: absolute;
   top: 66px;
   transform: translateX(86%);
   z-index: 10;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border: none;
   border-radius: 4px;
   background-color: rgb(255, 255, 255);
   color: black;
   box-sizing: border-box;
   width: 50%;
   height: 100px;

   background: rgba(255, 255, 255, 0.1);
   padding: 0px;
   padding-top: 7px;
   padding-bottom: 7px;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.528);
   color: rgb(0, 0, 0);


}

.add-contact-input {
   box-sizing: border-box;
   width: 95%;
   height: 30px;
   margin: 0px;
   padding: 0px;
   padding-left: 4px;
   border-radius: 2px;
   border: none;
   border: 1px solid rgb(112, 112, 112);
   border-bottom: 3px solid rgb(0, 140, 255);
   background-color: rgb(35, 35, 35);
   color: rgb(183, 183, 183);
   font-size: medium;
   font-weight: 400;
   outline: none;
}

.add-contact-button {
   box-sizing: border-box;
   width: 95%;
   height: 30px;
   margin: 0px;
   padding: 0px;
   border: none;
   border-radius: 2px;
   background-color: rgb(5, 5, 5);
   color: rgb(255, 255, 255);
   font-size: medium;
   font-weight: 500;
   transition: background-color 0.3s;
   transition: color 0.3s;
   outline: none;
}

.add-contact-button:hover {
   background-color: rgb(44, 44, 44);
   color: rgb(145, 145, 145);
}

.add-contact-button:active {
   background-color: rgb(145, 145, 145);
   color: rgb(0, 0, 0);
}

.contact-list {
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   padding-left: 2px;
   padding-right: 2px;
   display: flex;
   flex-direction: column;
}

.contact {
   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: center;
   margin: 0px;
   padding: 10px;
   margin-left: 8px;
   margin-right: 8px;
   border-radius: 8px;
   background-color: rgb(41, 41, 41);
   color: rgb(255, 255, 255);
   transition: background-color 0.01s;
}



.contact:hover {
   background-color: rgb(61, 61, 61);
}

.profile-pic {
   width: 62px;
   height: 80%;
   border-radius: 50%;
   margin: 4px;
   margin-right: 12px;
}

.contact-name {
   height: 80px;
   margin: 0px;
   padding-top: 25px;
   font-size: larger;
   font-weight: 500;
}

.right-side {
   flex: 0 0 70%;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
   width: 100%;

   /* border: 2px;
   border-style: solid;
   border-color: rgb(252, 252, 252); */
   background-color: rgb(41, 41, 41);
   /* min-height: 0; */
   border-left: 0.5px solid black;
}