:root {
   --border-05px: calc(100vw*0.000520834*0.5);
   --border-1px: calc(100vw*0.000520834);
   --border-2px: calc(100vw*0.000520834*2);
   --border-4px: calc(100vw*0.000520834*4);
}

.border-05px {
   border-width: var(--border-05px);
}

.border-1px {
   border-width: var(--border-1px);
}

.border-2px {
   border-width: var(--border-2px);
}

.border-4px {
   border-width: var(--border-4px);
}