/* Chrome, Edge, Safari */
.scrollbar-style ::-webkit-scrollbar {
   width: 10px;
}

.scrollbar-style ::-webkit-scrollbar-track {
   background: #22222200;
}

.scrollbar-style ::-webkit-scrollbar-thumb {
   background-color: #b2b2b2;
   border-radius: 10px;
}

.scrollbar-style {
   scrollbar-color: #b2b2b2 #22222200;
   /* thumb color | track color */
   scrollbar-width: thin;
   /* auto | thin | none */
}